<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rotek_IS.Properties.Settings.RotekConnectionString"
            connectionString="Data Source=MESTEČKO\MS_SQL;Initial Catalog=Rotek;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RotekIS.Properties.Settings.RotekConnectionString"
            connectionString="Data Source=192.168.1.150;Initial Catalog=Rotek;Persist Security Info=True;User ID=lubosch;Password=aassdd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
