<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsApplication2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WindowsApplication2.My.MySettings.Rotek" connectionString="Data Source=192.168.1.150;Initial Catalog=RotekSklad;User ID=lubosch;Password=aassdd"
      providerName="System.Data.SqlClient" />
    <add name="WindowsApplication2.My.MySettings.RotekConnectionString"
      connectionString="Data Source=192.168.1.150;Initial Catalog=Rotek;Persist Security Info=True;User ID=lubosch;Password=aassdd"
      providerName="System.Data.SqlClient" />
    <add name="WindowsApplication2.My.MySettings.RotekConnectionString1"
      connectionString="Data Source=192.168.1.150;Initial Catalog=Rotek;Persist Security Info=True;User ID=lubosch;Password=aassdd" />
    <add name="WindowsApplication2.My.MySettings.RotekSkladConnectionString"
      connectionString="Data Source=192.168.1.150;Initial Catalog=RotekSklad;User ID=lubosch;Password=aassdd" />
    <add name="WindowsApplication2.My.MySettings.RotekSkladConnectionString1"
      connectionString="Data Source=192.168.1.150;Initial Catalog=RotekSklad;User ID=lubosch;Password=aassdd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <WindowsApplication2.My.MySettings>
      <setting name="admin" serializeAs="String">
        <value>dffdf</value>
      </setting>
      <setting name="zakazkar" serializeAs="String">
        <value>úáëáú</value>
      </setting>
      <setting name="skladnik" serializeAs="String">
        <value>óëěáä</value>
      </setting>
      <setting name="Rotek2" serializeAs="String">
        <value>fdg</value>
      </setting>
      <setting name="Rotek3" serializeAs="String">
        <value>bfd</value>
      </setting>
      <setting name="Uzivatel" serializeAs="String">
        <value>Nikto</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </WindowsApplication2.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>